@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .apply-btn {
    @apply hover:bg-[#FC61FF]/[.2]  hover:ease-in-out hover:duration-200;
    @apply relative py-1 px-8 rounded-lg mx-8 ml-12 border border-solid border-[#FF42F7] text-[#FC61FF] [text-shadow:_0_0_10px_#FC61FF];
    @apply after:content-[''] after:absolute after:top-12 after:left-2 after:w-full after:h-[5px] after:bg-[#FF42F7] after:opacity-[.7] after:blur-sm after:skew-x-[30deg];
  }

  .sponsor-btn {
    @apply hover:bg-[#8CEAFF]/[.2]  hover:ease-in-out hover:duration-200;
    @apply relative py-1 px-8 rounded-lg border border-solid border-[#8CEAFF] text-[#8CEAFF] [text-shadow:_0_0_10px_#8CEAFF];
    @apply after:content-[''] after:absolute after:top-12 after:left-2 after:w-full after:h-[5px] after:bg-[#8CEAFF] after:opacity-[.7] after:blur-sm after:skew-x-[30deg];
  }

  .form-input {
    @apply border-2 border-purple_300 p-2 bg-body_bg mt-2 mb-4;
  }
  .error-msg {
    @apply text-red-600 mb-2;
  }
  .error-form {
    @apply border-2 border-red-600 animate-shake p-2;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  @font-face {
    font-family: Ohm;
    font-weight: 600;
    src: url(/fonts/ohm/OHM-Bold.woff) format('woff');
  }
  @font-face {
    font-family: Ohm;
    font-weight: 400;
    src: url(/fonts/ohm/OHM-Light.woff) format('woff');
  }
  @font-face {
    font-family: Ohm;
    font-weight: 500;
    src: url(/fonts/ohm/OHM-Medium.woff) format('woff');
  }
}

.neon-sign-area {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-areas: 'stack';
}

.neon-sign-area-content {
  grid-area: 'stack';
}

.neon-sign {
  opacity: 0.5;
  position: absolute;
  grid-area: 'stack';
  animation: parallax-effect linear;
  animation-timeline: scroll();
  border-radius: 0.5rem;
  outline: 2px solid #fff;
  box-shadow:
    0 0 25px 4px var(--border-color),
    0 0 25px 4px var(--border-color) inset;
  padding: 0.5rem;
  z-index: var(--z-index);
  top: var(--css-top);
  right: var(--css-right);
  bottom: var(--css-bottom);
  left: var(--css-left);
}

.neon-sign:hover {
  opacity: 1;
}

.neon-sign:hover span {
  animation: none;
}

.neon-sign span {
  color: transparent;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  text-shadow: 0 0 10px var(--border-color);
  -webkit-text-stroke: 2px white;
  font-size: 2.5rem;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  pointer-events: none;
  user-select: none;
  animation: flicker 5s infinite var(--flicker-delay, 0s);
}

@keyframes flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes parallax-effect {
  to {
    opacity: 0;
    transform: translateY(calc(var(--parallax-speed) * 100px));
  }
}

@media (prefers-reduced-motion: reduce) {
  @keyframes parallax {
    to {
      transform: translateY(0);
    }
  }
}

/* TODO: Think of something better for neon sign in mobile dimensions. */
@media (max-width: 720px) {
  .neon-sign {
    display: none;
  }
}
