@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .apply-btn {
    @apply hover:bg-[#FC61FF]/[.2] hover:duration-200 hover:ease-in-out;
    @apply relative mx-8 ml-12 rounded-lg border border-solid border-[#FF42F7] py-1 px-8 text-[#FC61FF] [text-shadow:_0_0_10px_#FC61FF];
    @apply after:absolute after:top-12 after:left-2 after:h-[5px] after:w-full after:skew-x-[30deg] after:bg-[#FF42F7] after:opacity-[.7] after:blur-sm after:content-[''];
  }

  .sponsor-btn {
    @apply hover:bg-[#8CEAFF]/[.2] hover:duration-200 hover:ease-in-out;
    @apply relative rounded-lg border border-solid border-[#8CEAFF] py-1 px-8 text-[#8CEAFF] [text-shadow:_0_0_10px_#8CEAFF];
    @apply after:absolute after:top-12 after:left-2 after:h-[5px] after:w-full after:skew-x-[30deg] after:bg-[#8CEAFF] after:opacity-[.7] after:blur-sm after:content-[''];
  }
  .neon-text {
    @apply font-ohm text-purple_main [text-shadow:_0_0_10px_#FF49ED];
  }
  .purple-btn {
    @apply rounded-md bg-purple_main p-2 text-white hover:bg-[#b63487] hover:duration-200 hover:ease-in-out;
  }

  .feed-popup {
    @apply bg-purple_dark text-white [box-shadow:_0_0_10px_#E149A9];
  }
  .feed-form-input {
    @apply w-[min(30rem,_100%)] border-2 border-[#1E2D79] bg-[#0E0E30] bg-opacity-70 p-4 outline-none focus:border-[#414f94] active:border-[#414f94];
  }
  .form-input {
    @apply mt-2 mb-4 rounded-md border-2 border-[#FF49ED] bg-black/30 p-2 text-[#FFC7EA] [box-shadow:_0_0_10px_#FFC7EA];
  }
  .form-option {
    @apply bg-black/80;
  }
  .error-msg {
    @apply mb-2 font-medium text-red-600;
  }
  .error-form {
    @apply animate-shake border-2 border-red-600 p-2;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  @font-face {
    font-family: Ohm;
    font-weight: 600;
    src: url(/fonts/ohm/OHM-Bold.woff) format("woff");
  }
  @font-face {
    font-family: Ohm;
    font-weight: 400;
    src: url(/fonts/ohm/OHM-Light.woff) format("woff");
  }
  @font-face {
    font-family: Ohm;
    font-weight: 500;
    src: url(/fonts/ohm/OHM-Medium.woff) format("woff");
  }
}

.neon-sign-area {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-areas: "stack";
}

.neon-sign-area-content {
  grid-area: "stack";
}

.neon-sign {
  opacity: 0.5;
  width: auto;
  position: absolute;
  grid-area: "stack";
  animation: parallax-effect linear;
  animation-timeline: scroll();
  border-radius: 0.5rem;
  outline: 2px solid #fff;
  box-shadow:
    0 0 25px 4px var(--border-color),
    0 0 25px 4px var(--border-color) inset;
  padding: 0.5rem;
  z-index: var(--z-index);
  top: var(--css-top);
  right: var(--css-right);
  bottom: var(--css-bottom);
  left: var(--css-left);
}

.neon-sign:hover {
  opacity: 1;
}

.neon-sign:hover span {
  animation: none;
}

.neon-sign span {
  color: transparent;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  text-shadow: 0 0 10px var(--border-color);
  -webkit-text-stroke: 2px white;
  font-size: 2rem;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  pointer-events: none;
  user-select: none;
  animation: flicker 5s infinite var(--flicker-delay, 0s);
}

@keyframes flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes parallax-effect {
  to {
    opacity: 0;
    transform: translateY(calc(var(--parallax-speed) * 100px));
  }
}

@media (prefers-reduced-motion: reduce) {
  @keyframes parallax {
    to {
      transform: translateY(0);
    }
  }
}

/* TODO: Think of something better for neon sign in mobile dimensions. */
@media (max-width: 720px) {
  .neon-sign {
    display: none;
  }
}

.feed-title {
  color: #d9d9d9;
  text-shadow: 0px 0px 8px #2400ff;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #002aff;
  font-family: "Train One";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feed-title-white {
  color: #d9d9d9;
  text-shadow: 0px 0px 8px #2400ff;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Train One";
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
