@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .apply-btn {
    @apply hover:bg-[#FC61FF]/[.2]  hover:ease-in-out hover:duration-200;
    @apply relative py-1 px-8 rounded-lg mx-8 ml-12 border border-solid border-[#FF42F7] text-[#FC61FF] [text-shadow:_0_0_10px_#FC61FF];
    @apply after:content-[''] after:absolute after:top-12 after:left-2 after:w-full after:h-[5px] after:bg-[#FF42F7] after:opacity-[.7] after:blur-sm after:skew-x-[30deg];
  }

  .sponsor-btn {
    @apply hover:bg-[#8CEAFF]/[.2]  hover:ease-in-out hover:duration-200;
    @apply relative py-1 px-8 rounded-lg border border-solid border-[#8CEAFF] text-[#8CEAFF] [text-shadow:_0_0_10px_#8CEAFF];
    @apply after:content-[''] after:absolute after:top-12 after:left-2 after:w-full after:h-[5px] after:bg-[#8CEAFF] after:opacity-[.7] after:blur-sm after:skew-x-[30deg];
  }

  .form-input {
    @apply border-2 border-purple_300 p-2 bg-body_bg mt-2 mb-4;
  }
  .error-msg {
    @apply text-red-600 mb-2;
  }
  .error-form {
    @apply border-2 border-red-600 animate-shake p-2;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  @font-face {
    font-family: Ohm;
    font-weight: 600;
    src: url(/fonts/ohm/OHM-Bold.woff) format('woff');
  }
  @font-face {
    font-family: Ohm;
    font-weight: 400;
    src: url(/fonts/ohm/OHM-Light.woff) format('woff');
  }
  @font-face {
    font-family: Ohm;
    font-weight: 500;
    src: url(/fonts/ohm/OHM-Medium.woff) format('woff');
  }
}
